body {
    margin: 0;
    padding: 0;
}

#game-board td {
    border: gray solid 1px;
    width: 16px;
    height: 16px;
    
}

#game-board {
    border-collapse: collapse;
    font-size: 12px;
}

#container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.snake {
    font-size: 11px;
}

.food {
    font-size: 11px;
}

.hidden {
    display: none;
}

#game-over {
    position: absolute;
    background: pink;
    font-size: 2rem;
    padding: 0.4rem;
}

.score-container {
    display: flex;
    padding-bottom: 20px;
}

#high-score {
    display: flex;
}

#score {
    display: flex;
}

.hsc {
    display: flex;
    padding-left: 20px;
}
